/* nav bar -1  */

.nav-1{
    background: var(--main-nav-bg);
    display: flex;
    justify-content: center;
    padding: 7px;
}

.nav-1 .burger-container{
    width: 30px;
    height: 30px;
    border: 1.5px solid var(--nav-second-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.burger-container__burger{
    margin: 2.5px 0;
    width: 60%;
    height: 1.5px;
    background-color: var(--nav-main-color);
}


.nav-1 .burger-container:hover{
    border: 1.5px solid var(--nav-main-color);
}

.nav-1 .logo{
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    margin-left: 10px;
    background: url(/img/nav-options.png)no-repeat;
    background-position: -10px -51px;
    width: 97px;
    height: 30px;
    flex-shrink: 0;
}

.search{
    position: relative;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    flex-direction: row;
}

.search i{
    color: var(--drak-color);
}

.search .search__option-btn{
    border: 2px solid rgba(0,0,0,0);
    margin: auto 0;
    height: 100%;
    padding: 5px;
    cursor: pointer;
    flex-shrink: 0;
    border-radius: 5px 0 0 5px;
    font-size: 1.3rem;
    background: var(--search-category);
}

.search .search__option-btn:hover{
    background-color: var(--search-category-hover);
}

.search .search__input{
    width: 100%;
}

.search .search__input input{
    width: 100%;
    height: 100%;
}

.search .search__btn{
    width: 40px;
    font-size: 1.4rem;
    background-color: var(--search-btn);
    border: none;
    border-radius: 0 5px 5px 0px;
    cursor: pointer;
}

.search .search__btn:hover{
    background-color: var(--search-btn-hover);
}

.language-option{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0);
    border: none;
    margin-left: 5px;
    flex-shrink: 0;
    cursor: pointer;
}
.language-option .language-option__img{
    background: url(/img/flag.png);
    background-position: 0 -130px;
    width: 24px;
    height: 18px;
}

.account, .returns{
    position: relative;
    text-align: center;
    min-width: 110px;
    display: flex;
    font-size: 1.3rem;
    flex-direction: column;
}
.account{
    margin-left: 10px;
}

.account p, .returns p{
    color: gray;
}

.account .account__mini-title, .returns .returns__mini-title, .cart .cart__mini-title{
    color: var(--nav-main-color);
    font-weight: bold;
}

.cart{
    display: flex;
}

.cart .cart__number{
    padding-left: 5px;
    color: var(--cart-font-color);
    font-size: 1.7rem;
    font-weight: bold;
}

.cart .cart_img{
    text-align: center;
    background: url(/img/nav-options.png)no-repeat;
    background-position: -10px -340px;
    width: 38px;
    height: 26px;
}

.cart .cart__mini-title{
    align-self: flex-end;
    font-size: 1.4rem;
}

/* nav bar -2  */

.nav-2{
    padding: 2px;
    background: var(--second-nav-bg);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nav-2 a{
    text-decoration: none;
}

.delivery-info{
    background: rgba(0,0,0,0);
    display: flex;
}

.delivery-info p{
    text-align: left;
}

.delivery-info .delivery-info__icon{
    background: url(/img/nav-options.png);
    width: 22px;
    height: 22px;
    background-position: -68px -340px;
}

.nav-2 p, .nav-2 a{
    color: var(--nav-main-color);
    font-size: 1.5rem;
}

.shop-nav{
    display: flex;
    align-items: center;
}


.shop-nav-box{
    padding: 0 7px;
    height: 20px;
    display: flex;
    align-items: center;
}

.nav-2 .corona-update{
    font-weight: bold;
}

/* nav bar -3  */
.nav-3{
    background: var(--delivery-nav-bg);
}

.nav-3{
    padding: 7px
}

.limited-shopping, .nav-3 a{
    font-size: 1.2rem;
    font-weight: bold;
}


/* drop menu category*/
.drop-menu{
    position: absolute;
    background-color: white;
    z-index: 2;
    visibility: hidden;
    display: inline-block;
}

.drop-menu__category{
    top: 35px;
    left: -10%;
    width: 200px;
    height: 400px;
    padding: 10px;
    overflow-y: scroll;
}


/* menu__language */
.drop-menu__language , .drop-menu__sigh-in{
    position: absolute;
    padding: 10px;
    border-radius: 2px;
    line-height: 1.5;
}

.drop-menu__language {
    top: 40px;
    left: 0px;
    width: 250px;
}

.drop-menu__language p,
.drop-menu__language a,
.drop-menu__language li,
.drop-menu__sigh-in p,
.drop-menu__sigh-in a{
    text-align: left;
    font-size: 1.3rem;
}

.drop-menu__language .bottom-border{
    border-bottom: 0.5px solid var(--grey-border);
    padding: 5px 0;
}


.drop-menu__language a{
    text-decoration: none;
}
.drop-menu__language a:hover{
    text-decoration: underline;
    color: orange;
}

.drop-menu__language::after,
.drop-menu__sigh-in::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    z-index:2;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgb(255, 255, 255);  
}

.drop-menu__language::after{
    top: -9px;
    left: 2px;
}
 
.drop-menu__language__change-currency > div{
    display: flex;
    justify-content: space-between;
}

.drop-menu__language__current-shop{
    display: flex;
}

.drop-menu__language__current-shop img{
    width: 10%;
}

.drop-menu__language li:hover{
    color: orange;
    text-decoration: underline;
}


/*   ~~~~~~~~~~~~~~~~~~~~~~~~~~  */
.search__option-btn:active{
    border: 2px solid orange;
}

.search__option-btn:active .drop-menu,.language-option:hover .drop-menu,
.account:hover .drop-menu{
    visibility: visible;
}

.drop-menu li{
    display: block;
    text-align: left;
}

.drop-menu__category li:hover{
    background: var(--blue);
    
}

.drop-menu__category li a{
    line-height: 2;
    text-decoration: none;
    color: black ;
}

.drop-menu__category li:hover a{
    color: white;
}



/* sign in */
.drop-menu__sigh-in{
    width: 400px;
    top: 40px;
    left: -100%;
    display: flex;
   flex-direction: column;
   align-content: center;
   justify-content: center;
}


.drop-menu__sigh-in__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-top: 20px;
    border-top: 1px solid var(--grey-border);
}

.drop-menu__sigh-in::after{
    top: -9px;
    left: 40%;
}

.drop-menu__sigh-in__container a{
    text-decoration: none;
    color: black;
}

.drop-menu__sigh-in__container a:hover{
    text-decoration: underline;
    color: orange;
}


.drop-menu__sigh-in > div:first-child{
    height: 50px;
}

.drop-menu__sigh-in > div:first-child button{
    padding:10px 70px;
    top: 10px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.drop-menu__sigh-in > div:first-child p{
    text-align: center;
    padding-top: 40px;
}