:root{
    /* bg */
    --main-nav-bg:#121921;
    --second-nav-bg:#232f3f;
    --delivery-nav-bg:#d7f7ea;
    --category-option: lightgray;

    /* btn */
    --search-btn:#febd69;
    --search-btn-hover:#fcaa40;

    --buy-now-btn-one:#f5c385;
    --buy-now-btn-two:#ee9b30;
    --search-category:#f3f3f3;
    --search-category-hover:#a0a0a0;

    /* flags */
    --best-seller-flag:#e47911;

    /* fonts */
    --cart-font-color:#b97117;
    --nav-main-color: #feffff;
    --nav-second-color: #919598;

    --red:#9f2c1f;
    --blue:#2369ac;
    --drak-color: #333;
    --light-grey-color:rgb(98, 98, 98);
    --green: rgb(0, 80, 13);

    /* border-color */
    --grey-border: #c7c7c7;

}

*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



html{
    font-size: 62.5%;
    font-family: var(--main-font-family);
    font-weight: lighter;
}

body{
    font-family: Arial, Helvetica, sans-serif ;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding:0;
    font-weight: normal;
} 

p,i,li,a{
    font-size: 1.2rem;
}

li{
    display: inline;
}

i{
    color:var(--nav-second-color) ;
}

button{
    cursor: pointer;
}

.box-container{
    border:1px solid rgba(0, 0, 0, 0);
}

.box-container:hover{
    border:1px solid var(--nav-main-color);
}

.bold{
    font-weight: bold;
}

/* btn */

.best-btn {
    position: relative;
    background: var(--best-seller-flag);
    border: none;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 2px;
    margin-right: 5px;
}

.best-btn::before{
    content: "";
    position: absolute;
    bottom: -5px;
    right: -15px;
    transform: rotate(90deg);
    border-color: transparent transparent var(--best-seller-flag) transparent;
    border-style: solid;
    border-width: 10px 0 10px 10px;
    height: 0px;
    width: 0px;
}

.best-btn::after{
    content: "";
    position: absolute;
    top: 0;
    right: -10px;
    transform: rotate(-180deg);
    border-color: transparent transparent var(--best-seller-flag) transparent;
    border-style: solid;
    border-width: 10px 0 10px 10px;
    height: 0px;
    width: 0px;
}

.option-btn-current{
    border: 1px solid var(--buy-now-btn-two);
    background-color: rgb(255, 248, 240);
    padding: 10px;
    margin: 5px;
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: space-between;
}

.option-btn-current p:first-child{
    font-weight: bold;
}

.option-btn-current p:last-child{
    font-weight: bold;
    color: var(--red);
}

.option-btn{
    border: 0.5px solid var(--grey-border);
    background-color: rgb(255, 255, 255);
    padding: 10px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}

.option-btn p:first-child{
    color: black;
}


.option-btn:hover{
    background-color: rgb(248, 248, 248);
}

.option-btn:hover p:last-child{
    color: var(--red);
}

.option-btn-current:active , .option-btn:active{
    font-weight: bold;
    box-shadow: 0px 0px 5px orange;
    border: 1px solid var(--buy-now-btn-two);
    background-color: rgb(255, 237, 217);
    
}

.mark{
    color: var(--red);
    font-size: 1.6rem;
}

.green{
    color: var(--green);
    font-size: 1.6rem;
}

.bold{
    font-weight: bold;
    color: black;
}

.btn{
    font-size: 1rem;
    border: none;
    padding: 2px;
    border: 1px solid rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    border-radius: 3px;
}

/* icons- color */
.icon-red{
    color: red;
}

.icon-light-blue{
    color: rgb(67, 178, 216);
}

.icon-blue{
    color: rgb(1, 1, 155);
}


.buy-now{
    background: linear-gradient(to bottom,var(--buy-now-btn-one), var(--buy-now-btn-two));

}

.buy-now:hover{
    background: var(--buy-now-btn-two)

}

.add-to-cart{
    background: linear-gradient(to bottom,rgb(243, 224, 138), rgb(242, 200, 96));
}

.add-to-cart:hover{
    background:rgb(242, 200, 96);
}

.btn i{
    background-color: var(--second-nav-bg);
    color: #fff;
    padding: 6px;
    border-radius: 2px;
}

.btn p{
    margin: 0 auto;
}




.star-rate{
    flex-shrink: 0;
}

.star-rate p{
    font-size: 2rem;
    color:var(--buy-now-btn-two);
    -webkit-text-stroke: 0.5px  var(--buy-now-btn-one);
}

.star-rate p .half-star{
    content: "";
    color: rgba(0, 0, 0, 0);
}

.star-rate p .half-star::before{
    position: absolute;
    content: "★";
    overflow: hidden;
    width: 0.6rem;
    z-index: 1;
    color: var(--buy-now-btn-two);
}

.grey-btn{
    border: 1px solid black;
    padding: 3px 7px;
    background: linear-gradient(to bottom, rgb(250, 250, 250),rgb(218, 218, 218));
    font-size: 1.3rem;
    border-radius: 3px;
}




